<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="name"/>
    </div>
    <div>
        <label for="hero-name">Hero poder: </label>
        <input id="hero-name" [(ngModel)]="hero.poder" placeholder="poder"/>
      </div>
      <div>
        <label for="hero-name">Hero edad: </label>
        <input id="hero-name" [(ngModel)]="hero.edad" placeholder="edad"/>
      </div>
      <div>
        <label for="hero-name">Hero identidad: </label>
        <input id="hero-name" [(ngModel)]="hero.identidad" placeholder="identidad"/>
      </div>
      <div>
        <label for="hero-name">Hero universo: </label>
        <input id="hero-name" [(ngModel)]="hero.universo" placeholder="universo"/>
      </div>
  </div>